body{
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Courgette', cursive;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar-brand{
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-image{
    background-image: url('images/back.jpg');
}

/* THE ABOUT SECTION */

#aboutvid{
    background-color:  #CCFFCC;
    padding-top: 5%;
    padding-bottom: 5%;
}
.bottom{
    margin-bottom: 5%;
}
h3{
    font-weight: bold;
    font-family: 'Abril Fatface',cursive;

}
p{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}
img{
    max-width: 20%;
    max-height: 15%;
    margin-top: 1.5rem ;
    margin-bottom: 1.5rem;
    margin-left: 3%;
    opacity: 30px;
}
hr{
    border-width: 2px;
    color: darksalmon;
}
.embed-responsive{
    padding: 15%;
    margin: 5% 4%;
}
.image{
    border-radius: 10px;
    max-width: 70%;
    box-shadow: #CCFFCC;
    
}
.get{
    background-color:  #4d9900;
    text-align: center;
    padding: 15px 20px;

}
.more{
    background-color: lawngreen;
    border: 1.5rem indianred;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-left: 20%;
}

.container{
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
   

}
.kingdom{
    border: 2px green;
    padding: 20px;

}
/*floating*/
.photo1{
    float: right;
}
 
